header {
  text-align: center;

  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  animation: header-appear 1s ease-out forwards;
}

@keyframes header-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile__img--div {
  width: 88px;
  height: 88px;
  position: relative;
}

#profile__img {
  width: 88px;
  height: 88px;
  border-radius: 275px;
}

.profile__details {
  padding: 0;
  margin: 0;
}

#twitter,
#slack {
  color: #222;
  font-weight: bold;
}

#slack {
  display: none;
}
